.border{
    border: 1px solid #6e6e6e;
}
.red{
    border: 1px solid red;
}
.green{
    border: 1px solid green;
}
.gradient{
    background: linear-gradient(to right,var(--accent1), var(--accent2));
}
.gradient2{
        background: linear-gradient(to top,#f6f9d8, #B2F4D9);
}
.bg1{
    background-color: var(--accent1);
}
.bg2{
    background-color: var(--accent2);
    
}
.poppins{
    font-family: 'poppins', sans-serif;
}


:root{
    --accent1: #17B095;
    --accent2: #F3BA1C;
    --background-color: #ffffff;
    --text-color: #333333;
    --black: #000000;
}

.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.row{
    flex-direction: row;
}
.mauto{
    margin: auto;
}


.full{
    width: 100%;
    height: 100%;
}

.vauto{
    margin-top: auto;
    margin-bottom: auto;
}
.hauto{
    margin-left: auto;
    margin-right: auto;
}
.rounded{
    border-radius: 50%;
}
.w-auto{
    width: auto;
}
.h-auto{
    height: auto;
}
.pointer{
    cursor: pointer;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.bold{ font-weight: bold;}
.times{
    font-family: 'times new roman', sans-serif;
}
.hidden{
   visibility: hidden;
}
.transparent{
    opacity: 0;
}