/* written by leevayle@protonmail.com */

:root{
    --accent1: #17B095;
    --accent1a:#00E382;
    --accent2: #F3BA1C;
    --background-color: #F5F5F5;
    --background2: #ebebeb;
    --text-color: #a3a3a3;
    --black: #000000;
}



html, body {
    height: 100%;
    margin: 0;
    background-color: var(--background-color);
}
body {
    display: flex;
    background-color: var(--background-color);
}
*{transition: ease-in-out 0.1s;}


.app{
    height: 99.7%;
    width: 100%;
    flex-direction: column;
}
.nav{
    width: 99.85%;
    height: 15%;
    max-height: 130px;
}
.content{
    width: 99.585;
    height: 80%;
    flex-grow: 1;
}
.top-left{
    width: auto;
    min-width: 120px;
    height: 120px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 0px;
    margin-left: 30px;
}
.top-right{
    width: 30%;
    max-width: 300px;
    margin-left: 50px;
}
.top-center{
    width: auto;
    height: 80px;
    border-radius: 60px;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    justify-content: center;
    gap: 10px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.active{
    background-color: var(--accent1a);

}
.roundnav{
    width: auto;
    height: 70px;
    border-radius: 80px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 40px;
    transition: ease-in-out 0.001s;
}
.roundnav:hover{
    background-color: var(--text-color);
}
.roundnav:active{
    
    background-color: var(--accent2);
}
.icondiv{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 5px;
}
.navtitle{
    width: auto;
    margin-left: 10px;
    font-size: large;
    margin-left: 10px;
}
