/* written by leevayle@protonmail.com */

:root{
    --accent1: #17B095;
    --accent1a:#00E382;
    --accent2: #F3BA1C;
    --background-color: #F5F5F5;
    --background2: #ebebeb;
    --hover: rgb(216, 216, 216);
    --text-color: #a3a3a3;
    --black: #000000;
    --white: rgb(255, 255, 255);
}



html, body {
    height: 100%;
    margin: 0;
    background-color: var(--background-color);
}
body {
    display: flex;
    background-color: var(--background-color);
}
*{transition: ease-in-out 0.3s;}


.app{
    height: 99.7%;
    width: 100%;
    flex-direction: column;
}
.nav{
    width: 99.85%;
    height: 15%;
    max-height: 130px;
}
.content{
    width: 99.585;
    height: 80%;
    flex-grow: 1;
}
.top-left{
    min-width: 120px;
    height: 120px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 0px;
    margin-left: 30px;
}
.top-right{
    margin-left: 50px;
}
.top-center{
    height: 80px;
    border-radius: 60px;
    overflow: hidden;
    justify-content: center;
    gap: 10px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.active{
    background-color: var(--accent1a);

}
.roundnav{
    height: 70px;
    border-radius: 80px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 40px;
    transition: ease-in-out 0.1s;
}
.roundnav:hover{
    background-color: var(--hover);
}
.roundnav:active{
    
    background-color: var(--accent2);
}
.icondiv{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 5px;
}
.navtitle{
    width: auto;
    margin-left: 10px;
    font-size: large;
    margin-left: 10px;
}
.top-right{
    height: 70px;
    width: auto;
    margin-right: 20px;
    border-radius: 50px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--white);
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.profile{
    width: auto;
    margin-right: 20px;
}
.dashimg{
    width: 60px;
    height: 60px;   
    overflow: hidden;
}
.dashuser{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}
.dash-settings{
    width: 40px;
    height: 40px;
    margin-left: 5px;
    padding: 10px;
    transition: ease-in-out 0.1s;
}
.dash-settings:hover{
    background-color: var(--background2);
}
.dash-settings:active{
    
    background-color: var(--accent2);
}
.approval{
    width: 40px;
    height: 40px;
    margin-right: 15px;
    padding: 15px;
    background-color: var(--white);
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

}
.approval:hover{
    background-color: var(--accent1);
}
.approval:active{
    
    background-color: var(--accent2);
}
.notification-counter{
    background-color: #ee7474;
    width: 25px;
    height: 25px;
    text-align: center;
    color: var(--white);
    top: 0px;
    left: 0px;
}

.subnav{
    height: 60px;
}
.subnavleft{
    padding-left: 20px;
    margin-right: auto;
    
}
.subtitlenav{
    padding-left: 15px;
    padding-right: 15px;
    color: var(--black);
    margin-left: 20px;
    margin-top: auto;
    height: 40px;
    font-size: large;
}
.subtitlenav:hover{
    color: var(--accent1);
}
.bottomline{
    width: 100%;
    height: 5px;
    bottom: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.subtitlenav:hover .bottomline{
     background-color: var(--background2);
}
.subnavright{
    margin-right: 30px;
}
.duration{
    width: 250px;
    height: 45px;
    border-radius: 30px;
    border: 1px solid var(--text-color);
}
.duration select{
    width: 85%;
    height: 100%;
    outline: none;
    border: none;
    background-color: var(--background-color);
    color: #000000;
}

.maindash{
    max-height: 100%;
    flex-grow: 1;
    overflow-y: auto;
    padding-top: 30px;
}


.cardcont{
    width: 100%;
    height: 45%;
}
.cardholder{
    height: 100%;
    width: 50%;
}
.card{
    width: 45%;
    height: 80%;
    border-radius: 30px;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.027) 0px 5px 30px;
    border: 1px solid var(--white);
    transition: all 0.1s;
}
.card:hover{
    border: 1px solid var(--accent1a);
}

.bottomcont{
    width: 99.5%;
    height: 55%;
}
.btmbg{
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.027) 0px 5px 30px;
    border: 1px solid var(--white);
    transition: all 0.1s;
}
.bottomcont:last-child{
    margin-right: 0px;
}
.btmbg:hover{
    border: 1px solid var(--accent1a);
}
.bottomcard1{
    width: 20%;
    height: 80%;
    margin-left: 20px;
    border-radius: 30px;
    margin-top: 20px;
}
.bottomcard2{
    width: 36%;
    height: 80%;
    margin-left: 20px;
    border-radius: 30px;
    margin-top: 20px;
}
.bottomcard3{
    width: 36%;
    height: 80%;
    margin-left: 20px;
    border-radius: 30px;
    margin-top: 20px;
}








